{% extends 'base.html.twig' %}

{% block title %} | Accueil{% endblock %}

{% block body %}
    <main id="home">
        <section>
            <div>
                <h1>Moonmus.collection</h1>
                <div class="buttons">
                    <a href="" class="btn primary">Connexion</a>
                    <a href="" class="btn secondary">Inscription</a>
                </div>
            </div>
            <figure>
                <img src="#" alt="Image à la une Moonmus" width="600" height="800">
            </figure>
        </section>
        <section>
            <h2>Produits populaires</h2>
            <div class="promoted-products">
                <div class="product">
                    <img src="#" alt="Nom du produit">
                    <div class="description">
                        <span class="price">35.99€</span>
                        <h3>Abaya Satinée Maryam</h3>
                        <a href="#" class="btn primary">Voir l'article</a>
                    </div>
                </div>
                <div class="product">
                    <img src="#" alt="Nom du produit">
                    <div class="description">
                        <span class="price">35.99€</span>
                        <h3>Abaya Satinée Maryam</h3>
                        <a href="#" class="btn primary">Voir l'article</a>
                    </div>
                </div>
                <div class="product">
                    <img src="#" alt="Nom du produit">
                    <div class="description">
                        <span class="price">35.99€</span>
                        <h3>Abaya Satinée Maryam</h3>
                        <a href="#" class="btn primary">Voir l'article</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div id="categories">
                <div id="illustration">
                    <span id="circle"></span>
                    <span id="line"></span>
                    <div id="square">
                        <h2>Catégories</h2>
                    </div>
                </div>
                <div id="links">
                    <a href="#" class="link">
                        <img src="#" alt="Femmes">
                        <h4>Femmes</h4>
                    </a>
                    <a href="#" class="link">
                        <img src="#" alt="Livres">
                        <h4>Livres</h4>
                    </a>
                    <a href="#" class="link">
                        <img src="#" alt="Soins">
                        <h4>Soins</h4>
                    </a>
                    <a href="#" class="link">
                        <img src="#" alt="Hommes">
                        <h4>Hommes</h4>
                    </a>
                    <a href="#" class="link">
                        <img src="#" alt="Maison">
                        <h4>Maison</h4>
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
