header {
  @extend %flex;
  background: $secondary-color;
  align-items: center;
  padding: ratio-space(3);
  position: relative;
  z-index: 1;

  >.linked-icon {
    display: none;
    position: absolute;
    top: ratio-space(3);
    z-index: 1;
    cursor: pointer;

    &.open {
      right: ratio-space(3);
    }

    &.close {
      left: ratio-space(3);
    }
  }

  nav {
    @extend %flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 100%;

    ul {
      @extend %flex;

      li {
        transition: .3s;
        &.active, &:hover {
          font-weight: 600;
        }
      }
    }
  }

  @media #{$media-down-md} {
    nav {
      position: fixed;
      top: 0;
      left: 100%;

      height: 100%;
      padding: ratio-space(3);

      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: end;
      text-align: right;

      background: $secondary-color;

      transition: .5s;

      ul:first-of-type {
        flex-direction: column;
      }
    }

    .open {
      display: block;
    }

    &.active {
      nav {
        left: 0;
      }
      .open {
        display: none;
      }
      .close {
        display: block;
      }
    }
  }
}
