@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@include font-face($name: Amsterdam, $style: italic, $path: Italic, $exts: ttf);
@include font-face($name: Amsterdam, $path: Regular, $exts: ttf);

h1 {
  font-family: $font-secondary;
  font-size: rem(54px);
  font-style: italic;
  padding-bottom: ratio-space(3);
  line-height: 1.5;
}

h2 {
  font-size: rem(18px);
  font-weight: 600;
  font-style: italic;
  padding-bottom: ratio-space(2);
}

h3 {
  font-family: $font-secondary;
  font-size: rem(24px);
  font-style: italic;
  line-height: 1;
}

h4 {
  font-family: $font-secondary;
  font-size: rem(24px);
}
