#home {
  section:first-child {
    @extend %flex;
    height: 65vh;
    background: $secondary-color;

    align-items: center;
    justify-content: space-between;

    position: relative;

    div {
      width: cols(7);

      h1 {
        font-size: rem(98px);
        word-break: break-word;
        padding-bottom: ratio-space(4);
      }

      .buttons {
        @extend %flex;
        flex-wrap: wrap;
      }
    }

    figure {
      max-width: cols(5);
      height: 100%;

      img {
        width: clamp(100%, 650px, 100%);
        height: clamp(100%, 750px, 100%);
        object-fit: cover;
      }
    }

    @media #{$media-down-md} {
      div {
        h1 {
          font-size: rem(65px);
        }
      }
    }
    @media #{$media-down-sm} {
      div {
        width: 100%;
      }

      figure {
        display: none;
      }
    }
  }

  section:nth-child(2) {
    background: linear-gradient(to top, $white 0%, $white 50%, $secondary-color 50%, $secondary-color 100%);

    .popular-products {
      @extend %flex;
      flex-wrap: wrap;

      .product {
        position: relative;
        width: cols(2);
        min-height: 320px;
        min-width: 220px;
        
        img {
          width: 100%;
          position: absolute;
          z-index: -1;
          object-fit: cover;
        }

        .description {
          position: absolute;
          padding: ratio-space(3);
          border: solid 1px $primary-color;
          background: $white;
          bottom: 0;
          width: 100%;

          .price {
            font-weight: 700;
          }

          .title {
            display: block;
            padding: ratio-space(1) 0;
          }
        }
      }
    }

    @media #{$media-down-md} {
      .popular-products {
        .product {
          width: 100%;
        }
      }
    }
  }

  section:nth-child(3) {
    padding: ratio-space(3) 0;

    .categories {
      @extend %flex;
      border: solid $primary-color;
      border-width: 1px 0;
      overflow: hidden;
      padding: ratio-space(3) 0;

      .links {
        @extend %flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .link {
          @extend %flex;
          min-width: 240px;
          width: calc(cols(2.4) - ratio-space(2));
          height: 160px;
          position: relative;
          align-items: center;
          justify-content: center;

          img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter: brightness(50%);
          }

          h4 {
            color: $white;
          }
        }
      }
    }

    @media #{$media-down-lg} {
      .categories {
        flex-direction: column;
      }
    }

    @media #{$media-down-md} {
      padding: ratio-space(3);

      .categories {
        .title-styled {
          display: none;
        }
      }
    }

    @media #{$media-down-sm} {
      .categories {
        .links {
          .link {
            width: 100%;
          }
        }
      }
    }
  }
}
