#shop {
  .nav-shop {
    padding: ratio-space(4);
    border: solid 1px $primary-color;

    ul {
      @extend %flex;
      justify-content: center;

      li {
        transition: .3s;
        &.active, &:hover {
          font-weight: 600;
        }
      }
    }
  }
}
