.btn {
  padding: ratio-space(1);
  min-width: 170px;
  border: solid 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;

  &.primary {
    background: $primary-color;
    border-color: $secondary-color;
    color: $secondary-color;
  }

  &.secondary {
    background: $white;
    border-color: $primary-color;
    color: $font-color;
  }
}
